
/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("../images/french-bar.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.option-button {
    color: white;
    background-color: red;
    border-radius: 10%;
    width: 80px;
    height: 40px;
    text-align: center;
}

.header {
    color: white;
    text-align: center;
}

ul, ol {
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* index.html */
.start-button {
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 20px;
    width: 250px;
    height: 175px;
    font-size: 30px;
}

.mainMenu {
    background-color: black;
    width: 50wh;
    color: white;
    opacity: 0.9;
    border-radius: 20px;
}

.menu-button {
    color:black;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
}

.exit-button {
    color:black;
    background-color: red;
    border-radius: 20px;
    width: 100px;
    margin: 20px;

}

/* theBar.html */
.score-bar
.time-bar, p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 8px;
}

.game-box {
    display: flex;
    justify-content: center;
}

.game-content-small {
    position: absolute;
    top: 150px;
    max-width: 780px;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.game-content-medium {
    position: absolute;
    top: 150px;
    max-width: 1100px;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.game-content-large {
    position: absolute;
    top: 150px;
    max-width: 900px;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cards {
    position: relative;
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.cards:active {
    transform: scale(.97);
    transition: transform .2s;
}

.cards.flip {
    transform: rotateY(180deg);
}

.frontFace,
.backFace {
    height: 98%;
    width: 98%;
    background-color: white;
    position: absolute; 
    backface-visibility: hidden; 
}

.frontFace {
    transform: rotateY(180deg);
}

.backFace {
    background-image: url("../images/shaker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	border: 2px solid grey;
}

/* CARDS */
.aviation {
    background-image: url("../images/aviation.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.bloodyMary {
    background-image: url("../images/bloodyMary.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.champagneCocktail {
    background-image: url("../images/champagneCocktail.jpg");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.cosmopolitan {
    background-image: url("../images/cosmopolitan.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.french75 {
    background-image: url("../images/french75.jpg");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}
.longIsland {
    background-image: url("../images/longIsland.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.maiTai {
    background-image: url("../images/maiTai.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.margarita {
    background-image: url("../images/margarita.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.martini {
    background-image: url("../images/martini.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.maryPicford {
    background-image: url("../images/maryPicford.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.mimosa {
    background-image: url("../images/mimosa.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.mojito {
    background-image: url("../images/mojito.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.oldFashioned {
    background-image: url("../images/oldFashioned.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.piscoSour {
    background-image: url("../images/piscoSour.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.tequilaSunrise {
    background-image: url("../images/tequilaSunrise.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}