
/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("../images/french-bar.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.mute-button {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.header {
    color: white;
    font-size: 50px;
    text-align: center;
}

ul, ol {
    list-style-type: none;
    text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* index.html */
.start-button {
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 20px;
    width: 250px;
    height: 175px;
    font-size: 30px;
}

.mainMenu {
    background-color: black;
    width: 50wh;
    color: white;
    opacity: 0.9;
    border-radius: 20px;
}

.menu-button {
    color:black;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
}

.exit-button {
    color:black;
    background-color: red;
    border-radius: 20px;
    width: 100px;
    margin: 20px;

}

/* theBar.html */

.game-box {
    display: flex;
    justify-content: center;
}

.game-content {
    position: absolute;
    top: 150px;
    max-width: 780px;
    bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    z-index: -1;
}

.cards {
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
	border: 5px transparent;
    cursor: pointer;
}

.frontFace,
.backFace {
    width: 95%;
    height: 95%;
    padding: 5px; 
    position: absolute; 
    backface-visibility: hidden; 
}

.backFace {
    background-image: url("../images/shaker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	border: 2px solid white;
}

.front-face {
    transform: rotateY(180deg);
}